# Node.js
node_modules/

# Build files
/build
/dist

# Environment variables
.env

# IDE/Editor files
.idea/
.vscode/

# Logs
npm-debug.log*

# macOS
.DS_Store

# Compiled JavaScript
*.js
*.js.map

# Compiled CSS
*.css
*.css.map
